/* основний колір bg #2F303A */
/* акцент #2196F3 */
/* основний колір тексту #757575 */

:root {
--title-bg-color: #2f303a;
--accent-color: #2196f3;
--primary-text-color: #757575;
--title-text-color: #212121;
--primary-white-color: #fff;
--secondary-btn-color: #F5F4FA;
--secondary-bg-color: #f5f4fa;

}
body {
font-family: 'Roboto', sans-serif;
color: var(--title-text-color);
background-color: var(--primary-white-color);
}
.visually-hidden{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.list{
list-style: none;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.conteiner{
    /* outline: 2px solid tomato; */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
section{
    /* background-color: aqua; */
padding-top: 94px;
padding-bottom: 94px;
}
/* Header */
.header {
background-color: var(--primary-white-color);
border-bottom: 1px solid #ececec;
/* padding-top: 32px; */
/* padding-bottom: 32px; */
}
.header-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 93px;
}
.header-address{
    display: flex;
    gap: 50px;
}
.list-nav{
    display: flex;
    gap: 50px;
}
.logo {
display: inline-block;
color: var(--accent-color);
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
letter-spacing: 0.03em;
}
.logo-accent-header {
color: #000;
}
.link-nav {
color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
padding: 32px 0;
display: block;
}
.link-nav:hover {
color: var(--accent-color);
}
.link-nav:focus {
color: var(--accent-color);
}
.link-info {
color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
padding: 32px 0;
display: block;
}
.link-info:hover {
color: var(--accent-color);
}
.link-info:focus {
color: var(--accent-color);
}
.link-nav.current{
color: var(--accent-color);
}
/* Hero Section */
.hero {
padding-top: 200px;
padding-bottom: 200px;
background-color: var(--title-bg-color);
text-align: center;
}
.hero-title {
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
max-width: 696px;
color: var(--primary-white-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero-btn {
display: block;
margin: 0 auto;
padding: 10px 32px;
min-width: 216px;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
background-color: var(--accent-color);
color: var(--primary-white-color);
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
}
.hero-btn:hover {
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.hero-btn:focus {
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
/* Features */
.features-list{
    display: flex;
    gap: 30px;
}
.features-item{
    flex-basis: calc((100%-90px)/4);

}
.features-subtitle{
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.features-text{
color: var(--primary-text-color);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
/* Work */
.work{
    padding-top: 0;
}
.work-list{
    display: flex;
    gap: 30px;
}
.work-item{
flex-basis: calc((100%-60px)/3);
 
}
.work-title{
text-align: center;
margin-bottom: 50px;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
}

/* Team */
.team{
background-color: var(--secondary-bg-color);
}
.team-title{
text-align: center;
margin-bottom: 50px;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
}
.team-list{
display: flex;
gap: 30px;
}
.team-card{
background-color: var(--primary-white-color);
flex-basis: calc((100%-90px)/4);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-subtitle{
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
}
.team-text{
color: var(--primary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
}
.cards-studio{
padding-top: 30px;
padding-bottom: 30px;
}
/* Footer */
.footer {
background-color: var(--title-bg-color);
padding: 60px 0;
}
.logo-accent-footer {
color: var(--primary-white-color);
}
.link-address {
display: inline-block;
color: var(--primary-white-color);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
}
.link-info-footer{
display: inline-block;
color: rgba(255, 255, 255, 0.6);
font-weight: 500;
font-style: normal;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}
.link-info-footer:hover{
color: var(--accent-color);
}
.link-info-footer:focus{
color: var(--accent-color);
}
.footer .logo{
margin-bottom: 20px;
}
.list-item:not(:last-child){
margin-bottom: 9px;
}
/* Portfolio */
.btn-nav{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.btn-item{
padding: 6px 22px;
color: var(--title-text-color);
background-color: var(--secondary-btn-color);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
border: none;
border-radius: 4px;
}
.btn-item:hover{
background-color: var(--accent-color);
color: var(--primary-white-color);
}
.btn-item:focus{
background-color: var(--accent-color);
color: var(--primary-white-color);
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project-link{
text-decoration: none;
}
.project-title{
margin-bottom: 4px;
color: var(--title-text-color);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.project-text{
color: var(--primary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
}
.project-card{
width: 370px;
border: 1px solid #EEEEEE;
border-top: 0;
}
.card-portfolio{
padding: 20px 24px;
}
